@page
@model GabiCrudTest.Pages_Premiums.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Premium</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.Student.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Premium.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
