@page
@model GabiCrudTest.Pages_Premiums.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Premium</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium.Student.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Premium?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
