@page
@model GabiCrudTest.Pages_Premiums.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Premium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Premium.Id" />
            <div class="form-group">
                <label asp-for="Premium.title" class="control-label"></label>
                <input asp-for="Premium.title" class="form-control" />
                <span asp-validation-for="Premium.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium.StartDate" class="control-label"></label>
                <input asp-for="Premium.StartDate" class="form-control" />
                <span asp-validation-for="Premium.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium.EndDate" class="control-label"></label>
                <input asp-for="Premium.EndDate" class="form-control" />
                <span asp-validation-for="Premium.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium.StudentId" class="control-label"></label>
                <select asp-for="Premium.StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="Premium.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

